---
// Top utility bar + Anton wordmark masthead. IDs match /scripts/anamorphick.js.
---
<div class="wrap topbar">
  <span class="util left" id="tipBtn">Commissions &amp; licensing</span>
  <a class="masthead" id="logoBtn" href="/">
    <h1 class="wordmark">An<span class="a-dot">a</span>morphick</h1>
    <span class="tagline">Photographic Studio · Washington DC</span>
  </a>
  <span class="util right"><span id="themeBtn" class="theme-toggle">Dark</span><span class="sep"></span><span id="subBtn">Subscribe</span><span class="sep"></span><span id="cartBtn">Prints</span></span>
</div>
